# Hide all the build output files
*/*.a
*/obj/
*.swp
bin/
libloragw/inc/config.h
libloragw/test_loragw_*
packet_forwarder/lora_pkt_fwd
util_chip_id/chip_id
util_net_downlink/net_downlink
util_boot/boot
util_spectral_scan/spectral_scan
*/.project

# If you have a bunch of build and test commands to run over SSH, you can put them in remotebuild.sh...
remotebuild.sh
remote_build.log

# VSCode junk
.cache/
.vscode/
.clangd
compile_commands.json